<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<title>Song Flow</title>
		<link rel="stylesheet" href="style.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
			rel="stylesheet"
		/>
		<script src="index.js" defer async></script>
	</head>

	<body>
		<main>
			<header>
				<div class="entete">
					<p>Song Flow</p>
					<img
						class="logo"
						src="images/logo_matheo_music.png"
						alt="logo du site"
					/>
				</div>
				<nav>
					<ul class="linknav">
						<li>
							<a href="qui_sommes_nous.html">Qui somme-nous ?</a>
						</li>
						<li>
							<a href="faq.html">FAQ</a>
						</li>
						<li>
							<a href="mon_compte.html">Mon compte</a>
						</li>
					</ul>
				</nav>
			</header>
			<a href="index.html" class="title">
				<h1 id="Song Flow">Song Flow</h1>
			</a>
			<h3>Crée ton mix personnalisé ici !</h3>
			<p>ceci est mon premier paragraphe</p>
		</main>
	</body>
</html>
