<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Playlist free</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="swiper-bundle.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <script src="index.js" defer async></script>
</head>
<body>
<header>
    <div class="entete">
        <a href="index.html"><p>Song Flow</p></a>
        <img class="logo" src="images/logo_matheo_music.png" alt="logo du site">
    </div>
    <nav>
        <ul class="linknav">
            <li>
                <a href="qui_sommes_nous.html">Qui somme-nous ?</a>
            </li>
            <li>
                <a href="faq.html">FAQ</a>
            </li>
            <li>
                <a href="mon_compte.html">Mon compte</a>
            </li>
        </ul>
    </nav>
</header>

<h1 class="playlistfreeh1">Page d'option de playlist</h1>
<br>

<p class="introplaylistfree">
    Intro d'explication de la page
</p>

<footer class="footer">
    <div class="footercontainer">
        <div class="row">
            <div class="foot-col">
                <h4>l'entreprise</h4>
                <ul>
                    <li>
                        <a href="">A propos de nous</a>
                    </li>
                    <li>
                        <a href="">Nos services</a>
                    </li>
                    <li>
                        <a href="">Politique de confidentialité</a>
                    </li>
                </ul>
            </div>

            <div class="foot-col">
                <h4>Obtenir de l'aide</h4>
                <ul>
                    <li>
                        <a href="faq.html">FAQ</a>
                    </li>
                    <li>
                        <a href="">Options de paiment</a>
                    </li>

                </ul>
            </div>

            <div class="foot-col">
                <h4>Suivez-nous</h4>
                <div class="social-links">
                    <a target="_blank" href="https://www.facebook.com/Song_Flow">
                        <img src="images/facebook.svg" alt="logo facebook">

                    </a>
                    <a target="_blank" href="https://www.instagram.com/Song_Flow">
                        <img src="images/instagram.svg" alt="logo instagram">
                    </a>

                    <a target="_blank" href="https://www.twitter.com/Song_Flow">
                        <img src="images/twitter.svg" alt="logo twitter">
                    </a>

                </div>

            </div>
        </div>
    </div>
</footer>
</body>
</html>